[submodule "packages/github-api"]
	path = packages/github-api
	url = https://github.com/cloud-hybrid/github-api.git
[submodule "packages/ui-template"]
	path = packages/ui-template
	url = https://github.com/cloud-hybrid/ui-template.git
[submodule "utilities/parser"]
	path = utilities/parser
	url = https://github.com/cloud-hybrid/parser.git
[submodule "utilities/subprocess-handler"]
	path = utilities/subprocess-handler
	url = https://github.com/cloud-hybrid/subprocess-handler.git
[submodule "packages/health-check"]
	path = packages/health-check
	url = https://github.com/cloud-hybrid/health-check.git
[submodule "utilities/variable-iterator"]
	path = utilities/variable-iterator
	url = https://github.com/cloud-hybrid/variable-iterator.git
[submodule "packages/json-schema-form"]
	path = packages/json-schema-form
	url = https://github.com/rjsf-team/react-jsonschema-form.git
[submodule "packages/.archive/ibm-cloud-cognitive"]
	path = packages/.archive/ibm-cloud-cognitive
	url = https://github.com/carbon-design-system/ibm-cloud-cognitive.git
[submodule "packages/api"]
	path = packages/api
	url = https://github.com/cloud-hybrid/api.git
[submodule "library/api-library"]
	path = library/api-library
	url = https://github.com/cloud-hybrid/api-library.git
	
[submodule "utilities/npm-outdated"]
	path = utilities/npm-outdated
	url = https://github.com/cloud-hybrid/npm-outdated.git
