[submodule "packages/github-api"]
	path = packages/github-api
	url = https://github.com/cloud-hybrid/github-api.git
[submodule "packages/subprocess-handler"]
	path = packages/subprocess-handler
	url = https://github.com/cloud-hybrid/subprocess-handler.git
[submodule "packages/systems-manager"]
	path = packages/systems-manager
	url = https://github.com/cloud-hybrid/systems-manager.git
[submodule "packages/ui-template"]
	path = packages/ui-template
	url = https://github.com/cloud-hybrid/ui-template.git
[submodule "utilities/parser"]
	path = utilities/parser
	url = https://github.com/cloud-hybrid/parser.git
[submodule "utilities/subprocess-handler"]
	path = utilities/subprocess-handler
	url = https://github.com/cloud-hybrid/subprocess-handler.git
[submodule "packages/health-check"]
	path = packages/health-check
	url = https://github.com/cloud-hybrid/health-check.git
[submodule "packages/pipeline-builder"]
	path = packages/pipeline-builder
	url = https://github.com/cloud-hybrid/pipeline-builder.git
[submodule "server/api-next"]
	path = server/api-next
	url = https://github.com/cloud-hybrid/api-next.git
